<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.techtown.capstone_final">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Capstone_final">
        <activity
            android:name=".RoomInfoPageActivity"
            android:exported="false" />
        <activity
            android:name=".fragment.mypage.viewpager.FragRecord"
            android:exported="false"
            tools:ignore="Instantiatable" /> <!-- 나중에 확인해야할 부분 -->
        <activity android:name=".memberinit.memberinit2" />
        <activity android:name=".memberinit.memberinit3" />
        <activity android:name=".memberinit.memberinit1" />
        <activity android:name=".Password_Reset" />
        <activity android:name=".Detail.HomeDetail.GroupchatDetailActivity" />
        <activity android:name=".Detail.MypageDetail.MypageDetailActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".MakeRoomContianerActivity"/>
        <activity android:name=".SignInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>